body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 800px;
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url(https://images.unsplash.com/photo-1518156677180-95a2893f3e9f?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size:1920px 1080px; 
    color: aliceblue;
  }
  
  #image-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
    width: fit-content;
    flex-wrap: wrap;

  }
  #image-original {
    max-width: 100%;
    border: 2px solid #ffffff;
  }
  #image-filtered {
    max-width: 100%;
    margin-left: 100px;
    border: 2px solid #ffffff;
  }
  
  .filter-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    /* border: 1px solid #ccc; */
    width: fit-content;
    margin-bottom: 0px;
    font-weight: bold;
    opacity : 80%;
    transition : 0.3s ease-out;
  }

  .filter-controls:hover{
    opacity: 110%;
    transform: scale(1.1);
    transition : 0.3s; 
  }
  
  .filter-control {
    margin-bottom: 5px;
  }
  
  .filter-control >input{
    margin-right: 10px;
    cursor: pointer;
  
  }
  img {
    width: 300px;
    height: auto;
  }

  .title{
    font-size: 45px;
    text-decoration: underline;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
